<footer class="navbar has-background-info has-text-info-light footer">
    <p>
      <p class="has-text-info-light m-2">&copy; Data Warehouse by <a href="https://github.com/aldanadc" 
      class="author" target="_blank">Aldana Daniela Casal</a></p>
      <p class="has-text-info-light m-2 is-size-7">Icons and images by <a class="attribution" href="http://fontawesome.io" 
        target="_blank">Font Awesome</a>, <a href="https://icons8.com/" target="_blank" 
        class="attribution">Icons8</a>, <a href="https://www.freepik.com/vectors/business" target="_blank" 
        class="attribution">Freepik</a>, and <a href="https://undraw.co/" target="_blank" class="attribution">unDraw</a>
      </p>
    </p>
</footer>


