<span>
  <select class="form-select" id="preference" name="contact_methods[<%=`${i}`%>][preference]" required>
    <option class="has-text-link" selected value="<%= contact[0].contact_methods[`${i}`].preference %>">
      <%=
        contact[0].contact_methods[`${i}`].preference.charAt(0).toUpperCase()+contact[0].contact_methods[`${i}`].preference.slice(1)
        %>
    </option>
    <% const preferences=["no preference","favourite", "do not disturb" ] %>
      <% preferences.forEach(item=> { %>
        <% if (item !=contact[0].contact_methods[`${i}`].preference) { %>
          <option class="has-text-link" value="<%= item %>">
            <%= item.charAt(0).toUpperCase()+item.slice(1) %>
          </option>
          <% } %>
            <% }) %>
  </select>
  <div class="invalid-feedback">
    Por favor complete este campo
  </div>
</span>



<% if (contact.interest === 0) { %>
  <td><span><%= contact.interest %>%</span>
    <progress class="progress is-warning" value="<%= contact.interest %>" min="0" max="100"></progress>
    <!-- <div class="progress">
      <div class="progress-bar is-warning w-0" id="interest" min="0" max="100" value="<%= contact.interest %>"></div>
    </div> -->
  </td>
<% } else if ((contact.interest === 25)) { %>
  <td><span><%= contact.interest %>%</span>
    <progress class="progress is-warning" value="<%= contact.interest %>" min="0" max="100"></progress>
    <!-- <div class="progress">
      <div class="progress-bar is-warning w-25" id="interest" min="0" max="100" value="<%= contact.interest %>"></div>
    </div> -->
  </td>
<% } else if (contact.interest === 50 ) { %>
  <td><span><%= contact.interest %>%</span>
    <progress class="progress is-info" value="<%= contact.interest %>" min="0" max="100"></progress>
    <!-- <div class="progress">
      <div class="progress-bar is-info w-75" id="interest" min="0" max="100" value="<%= contact.interest %>"></div>
    </div> -->
  </td>
<% } else if (contact.interest === 75) { %>
  <td><span><%= contact.interest %>%</span>
    <progress class="progress is-success" value="<%= contact.interest %>" min="0" max="100"></progress>
    <!-- <div class="progress">
      <div class="progress-bar is-success w-75" id="interest" min="0" max="100" value="<%= contact.interest %>"></div>
    </div> -->
  </td>
<% } else if (contact.interest === 100) { %>
  <td><span><%= contact.interest %>%</span>
    <progress class="progress is-success" value="<%= contact.interest %>" min="0" max="100"></progress>
    <!-- <div class="progress">
      <div class="progress-bar is-success w-100" id="interest" min="0" max="100" value="<%= contact.interest %>"></div>
    </div> -->
  </td>
<% } %>